/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Animation for the menu items */
@keyframes fade {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes title {
  0% {
    text-shadow: 0 -15px 18px #7a7a7a;
    transform: translateY(-10px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    text-shadow: 0 5px 18px #7a7a7a;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes images {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;

  &.active #menu {
    left: 150px;
    width: 150px;
  }

  &.active .menu-link {
    left: 150px;
  }
}

#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

#menu li {
  $animationDelay: 0.8;
  @for $i from 1 to 4 {
    &:nth-of-type(#{$i}) a {
      animation-delay: #{$animationDelay * $i}s;
    }
  }
}

#menu a {
  opacity: 0;
  position: relative;
  -webkit-animation-name: fade;
  -o-animation-name: fade;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Gallery stuff */

nav h1 {
  opacity: 0;
  font-size: 1.6rem;
  margin: 2rem 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: 'Niconne', cursive;
  animation: title 2s 1s forwards;
  animation-fill-mode: forwards;
  color: white;
  text-align: center;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr;

  a {
    max-width: 400px;
    margin: auto;
    opacity: 0;

    &.vis {
      animation: images 1s forwards;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}

.text-center {
  text-align: center;
}

footer {
  border: 0;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
  }

  #menu {
    left: 150px;
  }

  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  #layout.active .menu-link {
    left: 150px;
  }

  #gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;

    a {
      margin: 0.4rem;

      &:nth-child(6n + 4),
      &:nth-child(6n + 1) {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
      }

      &:nth-child(6n + 3),
      &:nth-child(6n + 2) {
        grid-column: auto / span 2;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
