mixin menu(current)
  .menu-bar
    a.menu-link(href='#menu')
      img(src='/img/menu.svg')
  #menu
    a(href='/')
      img.logo(src='/img/DawnEPhotoLogo-Transparent.png' alt="Dawn E Photography")
    nav
      ul
        li
          a(href='/' class='current') Home
        li
          a(href='/portfolio') Portfolio
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
