---
title: Contact
---
extends ../partials/page
include ../partials/menu

block body
  #layout
    +menu('contact')
    main
      header
        img(alt="Dawn E Photography" src="/img/DawnEPhotoLogo-Transparent.png")
        p.text-center Remember the moment, not the session
      section
        include ../partials/contactForm

block footer
  a.formFooter-logoLink(href='https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=211038227258048&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le' target='_blank')
    img.formFooter-logo(src='https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png' alt='Jotform Logo')

block scripts
  script(src='/js/main.js')
