---
title: Success
---
extends ../partials/page
include ../partials/menu
include ../partials/heading

block body
  #layout
    +menu('contact')
    main.text
      +heading()
      section
        h1 Thank You
        p I'll contact you shortly, I look forward to helping you remember the moments.

block footer
  p
    a(href="/contact") Contact Me

block scripts
  script.
    setTimeout(() => {
      document.location.href = '/'
    }, 15000)
